.circular-weather-display {
  height: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-widget {
  display: flex;
  background:linear-gradient(45deg, #3333d1, transparent);
  justify-content: center;
}
.day {
  background: gold;
  filter: drop-shadow(0 -6mm 8mm rgb(114, 13, 13));
}

.night {
  background: linear-gradient(black, transparent);
  color: white;
}
th {
  font-weight: normal;
}
.content-main {
  margin-top: 4%;
  border: 2px solid white;
  border-radius: 6px;
  filter: drop-shadow(2px 4px 7px black);
  padding: 1px 1px;
}
.temp {
  font-size: 20pt;
  color: green;
}
.feels_like {
  color: white;
  font-size: 12px;
}
i.fas.fa-thin.fa-cloud {
  font-size: 40px;
  color: #d6c7c7;
}
.weather-details-component {
  background: linear-gradient(45deg, #4267ff, transparent);
  height: 100%;
  max-height: 100%;
  overflow: scroll;
}
.cloud {
  display: flex;
  flex-direction: column;
}
