<div class="bg-dark">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="home" routerLink = "/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="current weather" routerLink = "/current" >Current Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/five" aria-current="five day weather">Five Day Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
</div>