/* styles.css */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~weather-icons/css/weather-icons.min.css";

.temp-icon {
  width: 25pt; /* Adjust the width to your preference */
  height: auto; /* Maintain aspect ratio */
}

.weather-icon {
  width: 40pt; /* Adjust the width to your preference */
  height: auto; /* Maintain aspect ratio */
}
